.image-container {
  display: flex;
  justify-content: space-between;
}

.image-style {
  width: 45%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.714);
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .image-style {
    width: 90%;
    /* margin-bottom: 10px; */
  }
}
